.lista {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    text-shadow: 2px 2px 2px red;
    margin-bottom: 40px;

}
.listinha {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}