<!-- livros-angular/src/app/app.component.html -->
<nav class="thunder navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="box navbar-brand" routerLink="/home">Livros Angular</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" class="box">
        <a class="nav-link" routerLink="/lista">Lista</a>
      </li>
      <li class="nav-item" class="box">
        <a class="nav-link" routerLink="/dados">Dados</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
<app-footer></app-footer>


